body{
    background-color: rgb(151, 149, 148);
    font-family: 'Times New Roman', Times, serif;
}

.nav-doc{
    display: flex;
    flex-direction: column;
    width: 200px;
}


h2{
    font-size: 24px;
    width: 200px;
    padding: 10px 10px;
    
}


.main-body{

    transform: translate(0px,-300px);
    margin-left: 230px;
    align-items: center;
    
}

h1:hover{
    color: rgb(221, 202, 149);
}

.main-body h1{
    color:rgb(62, 56, 40);
    padding: 15px;
    display: table;
}


.main-body p{
    /* margin-top: -8px; */
}

.nav-links a{
    display: flex;
    flex-direction: column;
    display: table;
    line-height: 1.2;
    padding: 10px; 
    margin: 10px, 10px;
    width: 250px;
    color:black;
    text-decoration: underline;

}

a:hover{
    color: rgb(221, 202, 149);
}

@media(max-width: 1000px){
    .main-body, p, h1{
        transform: translate(0px,0px);
        width: auto;
        margin-left: 0;
    }
    .nav-doc, h2{
        width: auto;
        text-align: center;
    }
    .nav-links a{
        width: auto;
        text-align: center;
    }
    }
    
    @media(max-width: 640px){
        .main-body, p, h1{
            transform: translate(0px,0px);
            width: auto;
            margin-left: 0;
        }
        .nav-doc, h2{
            width: auto;
            text-align: center;
        }
        .nav-links a{
            width: auto;
            text-align: center;
            display: inline;
        }
    }